<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Blog Register</title>

  <link rel="stylesheet" href="../css/login.css" media="screen" type="text/css" />

</head>

<body>

  <div class="login-card">
    <h1>Register</h1><br>
  <form>
    <input type="text" name="userRegister" placeholder="Username">
    <input type="password" name="passRegister" placeholder="Password">
    <input type="submit" name="register" class="login login-submit" value="Register">
  </form>

  <div class="login-help">
    <a href="/login">Login</a>
  </div>
</div>

</body>

</html>